body {
  background: url(../pictures/sea.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: lightgray;
}

#screen,
#positioningScreen,
#passDeviceScreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 3.5em;
  width: 90%;
  text-align: center;
  margin: 0.5em 0;
}

#selectComputerScreen {
  font-size: 2em;
  width: 90%;
  text-align: center;
}

#labelSelectComputer {
  font-size: 0.8em;
}

#formSelectComputer {
  margin-bottom: 1em;
}

#selectComputer {
  position: relative;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  bottom: 0.5em;
  right: 0.8em;
}

#btnStartGame,
#btnConfirm,
#btnPassDevice {
  border-radius: 5px;
  font-size: 30px;
  background-color: lightgray;
}

#gameboardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.own,
.enemy {
  background-color: lightgray;
}

#headerPlayer1EnemyGameboard,
#headerPlayer2EnemyGameboard,
#headerPlayer1OwnGameboard,
#headerPlayer2OwnGameboard {
  font-size: 2.75em;
}

@media all and (max-width: 900px) {
  #gameboardContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  #headerPlayer1EnemyGameboard {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  #player1EnemyGameboard {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #headerPlayer1OwnGameboard {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  #player1OwnGameboard {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  #headerPlayer2EnemyGameboard {
    grid-column-start: 1;
    grid-row-start: 5;
  }

  #player2EnemyGameboard {
    grid-column-start: 1;
    grid-row-start: 6;
  }

  #headerPlayer2OwnGameboard {
    grid-column-start: 1;
    grid-row-start: 7;
  }

  #player2OwnGameboard {
    grid-column-start: 1;
    grid-row-start: 8;
  }
}

h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.board {
  border-collapse: collapse;
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
}

td {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

@media all and (max-width: 450px) {
  .board {
    font-size: 20px;
  }

  td {
    width: 25px;
    height: 25px;
  }
}

.isTurn {
  cursor: pointer;
}

.unsunkenShip {
  background-color: rgb(0%, 0%, 100%);
}

.sunkenShip {
  background-color: rgb(100%, 0%, 0%);
}

table {
  color: black;
}

.invisible {
  display: none !important;
}

#announcement {
  border-radius: 10px;
}
